body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #179c3a, blue);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #0a4d5e;
}

label {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #0a4d5e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #09627a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #0a4d5e;
    color: white;
}

.remove-btn {
    background-color: red;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
}
.logo {
    width: 150px;
    height:auto ;
    margin-bottom:15px ;
}